@import "../../variables.css"; 

#projects {
    background-color: var(--color-opp);
    width: 100vw;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 20px 0; 
}

.container {
    background-color: var(--color-bg);
    padding: 76px 10%; 
    z-index: 1;
}

.title {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    color: var(--color-purple);
    letter-spacing: 1.75px;
    text-transform: uppercase;
    z-index: 1;
}

.projects {
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px; 
    width: 100%;
}