@import "../../variables.css";

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--color-bg);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
}

.image {
    width: 80%; 
    display: block;
    margin: 5px auto; 
    border-radius: 10px;
}

.projectType {
    font-size: 25px;
    font-style: italic;
}

.title {
    font-size: 40px; 
    font-weight: 900;
}

.description {
    margin-top: 6px; 
    font-size: 20px;
    font-weight: 200;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
    color: var(--color-btn);
}

.links {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: var(--color-btn); 
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-secondary);
    padding: 1px 22px;
}