@import "../../variables.css";

.container {
    position: relative; 
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 110px 10% 50px 10%;
    background-color: var(--color-bg);
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-text);
    z-index: 1;
}

.title {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
    font-family: var(--font-robot);
}

.description {
    font-size: 30px;
    font-family: var(--font-robot);
    margin-bottom: 52px;
}

.contactBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text-);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600 ;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse;
    }

    .content {
        align-items: center;
        text-align: center;
    }
}

.links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.linkedin {
    max-width: 60px;
    max-height: 60px;
}

.email {
    max-width: 50px;
    max-height: 50px;
    gap: 20px;
}

.github {
    max-width: 50px;
    max-height: 50px;
}