:root {
    --color-text: #000;
    --color-primary: #576cbc;
    --color-secondary: #3E5879;
    --color-dark: #213555;
    --color-opp: #D8C4B6;
    --color-bg: #F5EFE7;
    --color-btn: #fff;
    --font-robot: "Roboto";
}