:root {
    --color-text: #262626;
    --color-light-text: #f5f5f5;

    --color-primary: #576cbc;
    --color-secondary: #3E5879;
    --color-dark: #213555;
    --color-opp: #D8C4B6;
    --color-purple: #4F51A6;
    --color-black: #000000;

    --color-bg: #F1F1F1;
    --color-dark-bg: #404042; 

    --color-btn: #fff;
    --font-robot: "Roboto";
}