:root {
    /*
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;
    */
    --color-text: #000;
    --color-primary: #576cbc;
    --color-secondary: #050b17;
    --color-dark: #0b2447;
    --color-opp: #D8C4B6;
    --color-bg: #F5EFE7;
    /* --color-bg: #1e3675; */

    --font-robot: "Roboto";
}